@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'variables.scss';

html,
body {
    font-family: $font-family;
    font-size: 16px;

    @media screen and (min-width: 576px) {
        font-size: 18px;
    }
}

// Global classes
.screen {
    min-height: calc(100vh - 85px);
    min-width: 100%;

    &__wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1140px;
    }
}

// Fullpage section navigation
.fp-viewing-0 #fp-nav ul li a span {
    background: $white !important;
}
.fp-viewing-1 #fp-nav ul li a span {
    background: $white !important;
}
.fp-viewing-2 #fp-nav ul li a span {
    background: $white !important;
}
.fp-viewing-3 #fp-nav ul li a span {
    background: $black !important;
}
.fp-viewing-4 #fp-nav ul li a span {
    background: $black !important;
}
#fp-nav.fp-right {
    right: 0px !important;
}

// Margin and padding
.mt-0 {
    margin-top: 0px !important;
}
.mt-1 {
    margin-top: $spacer !important;
}
.mt-2 {
    margin-top: $spacer * 2 !important;
}
.mt-3 {
    margin-top: $spacer * 3 !important;
}
.mt-4 {
    margin-top: $spacer * 4 !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}
.mb-1 {
    margin-bottom: $spacer !important;
}
.mb-2 {
    margin-bottom: $spacer * 2 !important;
}
.mb-3 {
    margin-bottom: $spacer * 3 !important;
}
.mb-4 {
    margin-bottom: $spacer * 4 !important;
}

// Flex
.flex {
    display: flex;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
