// Typography
$font-family: 'Roboto', sans-serif;
$font-family-titles: 'Reem Kufi', sans-serif;
$font-size: 1rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// Colors
$white: #ffffff;
$black: #000000;
$gray-light: #e5e5e5;

// Margins and paddings
$spacer: 16px;

// Screen breakpoints
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
